/* 公共 */
.marginX7{
	margin: 0 7px;
}
.body{
	margin: 0 auto;
	width: 1554px;
}

/* 头部 */
.g-header{
}

/* 底部 */
.g-footer{
}

/* 首页 */
.ck-slidebox{
	@for $i from 1 through 4 {
	    .icon-slide#{$i} {
	    	margin: 0 3px;
			float: left;
			cursor: pointer;
	    	width: 45px;
	    	height: 45px;
	    	background: url(../img/icon/icon-slide#{$i}.png) no-repeat center/100% 100%;
	    }
	}
	@for $i from 1 through 4 {
	    .icon-slide#{$i}.current {
	    	margin: 0 3px;
			float: left;
			cursor: pointer;
	    	width: 45px;
	    	height: 45px;
	    	background: url(../img/icon/icon-slide#{$i}-cur.png) no-repeat center/100% 100%;
	    }
	}
}