/* 公共 */
a:hover,
a:focus{
 	color:#3483f2;
}
.bgcolor-green{
	background-color: $color-green;
}
.bgcolor-fa{
	background-color: #fafafa;
}
.color-green{
	color: $color-green;
}
.color-blue{
	color: $color-blue;
}
.color-444{
	color: #495365;
}
.color-aaa{
	color: #a5a5a5;
}
.color-plus{
	color: #4e6fae;
}
.width1024{
	width: 1024px;
}
.contBody{
	width:100%;
	background:#fff;
	overflow: hidden;
	/* padding-bottom: 50px; */
	min-height:630px;
}

/* 头部 */
.g-header{
	height: 90px;	
	.btn-login{
		height: 40px;
		line-height: 30px;
		padding: 5px 25px;
		border-radius: 3px;
		background-color: #3db665;
		color: #fff;
	}
	.navItem{
		margin: 0 30px;
		display: inline-block;
		height: 40px;
		border-bottom: 2px solid transparent;
	}
	.navItem:hover,
	.navItem.cur{
		height: 40px;
		color: #397ef1;
		border-bottom: 2px solid #397ef1;
	}
	.navItem .navChild{
		top: 40px;
		z-index: 5;
		left: -13px;
		width: 90px;
		text-align: center;
		background-color: #fff;
	}
	.navItem .navChild .navLink{
		display: block;
		color: #999;
		height: 35px;
		line-height: 35px;
	}
	.navItem:hover .navChild{
		display: block!important;
	}
	.navChild .navLink:hover{
		color: #397ef1;
	}
}

/* 底部 */
.g-footer{
	height: 160px;
	background-color: #3e4349;
	.footerLinkWrap{
		margin: 0 auto;
		width: 820px;
		padding: 30px 100px 0;
		line-height: 40px;
		border-bottom: 1px dashed #fff;
	}
	.footerLink{
	    display: inline-block;
	    width: 120px;
	    text-align: center;
	    color: #fff;
	}
}

/* 首页 */
.moduleItem{
	margin: 0 20px;
	padding-bottom: 10px;
	float: left;
	width: 106px;
	text-align: center;
	position: relative;
	cursor: pointer;
	.i-triangle{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 10px;
		height: 5px;
		background: url(/r/cms/www/zygw/ydyc-img/revision/icon-triangle.png) no-repeat center/100%;
		display: none;
	}
}
.moduleItem.cur{
	.color-444{
		color: #3483f2;
	}
	.i-triangle{
		display: block;
	}
}
.partTitle{
	text-align: center;
	font-size:18px;
	color:#000000;
	line-height: 30px;	
	.titleBorder{
		margin-bottom: 30px;
		width: 100%;
		height: 2px;
		background: url(/r/cms/www/zygw/ydyc-img/referenced/index/titleborder.png) repeat-x;
		position: relative;
	}
	.titleIcon{
		display: inline-block;
		width: 60px;
		height: 2px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -30px;
		background-color: #397ef1;
	}
}

.tabWrap{
	float: right;
	width: 520px;
	.tabTitleList,
	.tabContList{
		overflow: hidden;
		line-height: 20px;
	}
	.tabTitleList{
		background-color: #ecebeb;
	}
	.tabTitleLi{
		margin-right: -1px;
		padding: 5px 15px;
		border: 1px solid #aaa;
		background-color: #fff;
		color: #999;
		float: left;
		cursor: pointer;
	}
	.tabTitleLi.cur{
		background-color: #3db665;
		border: 1px solid transparent;
		color: #fff;
	}
	.tabContLi{
		display: none;
		width: 100%;
		height: 260px;
		padding: 10px 0;
		overflow: hidden;
	}
	.tabContLi.cur{
		display: block;
	}
}
.newsLi{
	margin-bottom: 10px;
	width: 520px;
	padding-right: 100px;
    height: 40px;
    line-height: 40px;
    position: relative;
   	.newsTxt{
	    display: inline-block;
	    vertical-align: middle;
	    max-width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    position: relative;
	}
	.newsDate{
	    position: absolute;
	    right: 0;
	    top: 50%;
	    margin-top: -20px;
	    height: 40px;
	    color: #999;
	}
}

.exptLi {
    float: left;
    margin: 0 5px;
    width: 160px;
    height: 300px;
    text-align: center;
    position: relative;
	.icon-showintro{
		position: absolute;
		bottom: -15px;
		left: 50%;
		margin-left: -18.5px;
		z-index: 5;
	}
	.icon-showintro-cur{
		position: absolute;
		bottom: 10px;
		display: block;
		left: 50%;
		margin-left: -18.5px;
	}
	.exptIntro{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		padding: 15px;
		display: none;
	}
	.introTxt{
		line-height: 20px;
		height: 120px;
		overflow: hidden;
		display: -webkit-box;
    	-webkit-box-orient: vertical;
    	-webkit-line-clamp: 6;
    	text-overflow: ellipsis;
	}
}
